@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;

  /* Color variables */
  --color-neutral-white: #ffffff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-lighter: #d8d8d8;
  --color-neutral-light: #b2b2b2;
  --color-neutral: #7f7f7f;
  --color-neutral-dark: #4c4c4c;
  --color-neutral-darker: #191919;
  --color-neutral-darkest: #000000;

  --color-capecod-lightest: #ebecec;
  --color-capecod-lighter: #d7dad9;
  --color-capecod-light: #757e7c;
  --color-capecod: #3a4744;
  --color-capecod-dark: #2e3836;
  --color-capecod-darker: #171c1b;
  --color-capecod-darkest: #111514;

  /* Font variables */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-merriweather: var(--font-merriweather);
  --font-pt-sans: var(--font-pt-sans);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  @theme inline {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
